################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp12/bin
/WebApp12/obj
/WebApp12/WebApp12.csproj.user
